{{/* Load academicons for all pages */}}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"
/>

{{/* Conditional font loading - only for home and about pages */}}
{{- $needsCustomFonts := or .IsHome (eq .Layout "about") (and .File (eq .File.TranslationBaseName "about")) }}
{{- if $needsCustomFonts }}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Merriweather:wght@400;500;600;700&display=swap"
    rel="stylesheet"
/>
{{- end }}

{{/* Load consolidated custom CSS from extended directory */}}
{{- $customCSS := resources.Get "css/extended/custom.css" }}
{{- if $customCSS }}
  {{- $customCSS := $customCSS | resources.Minify }}
  <link rel="stylesheet" href="{{ $customCSS.RelPermalink }}" />
{{- end }}

{{/* Load navigation JS globally */}}
{{- $navigationJS := resources.Get "js/navigation.js" }}
{{- if $navigationJS }}
  {{- $navigationJS := $navigationJS | resources.Minify }}
  <script defer src="{{ $navigationJS.RelPermalink }}"></script>
{{- end }} {{/* Custom CSS and JS for publications page */}} {{- if eq .Section
"papers" }} {{/* Load CSS */}} {{- $publicationsCSS := resources.Get
"css/custom/publications.css" }} {{- if $publicationsCSS }} {{- $publicationsCSS
:= $publicationsCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $publicationsCSS.RelPermalink }}" />
{{- end }} {{/* Load JS */}} {{- $publicationsJS := resources.Get
"js/publications.js" }} {{- if $publicationsJS }} {{- $publicationsJS :=
$publicationsJS | resources.Minify }}
<script defer src="{{ $publicationsJS.RelPermalink }}"></script>
{{- end }} {{- end }} {{/* Custom CSS for books page */}} {{- if eq .Section
"books" }} {{- $booksCSS := resources.Get "css/custom/books.css" }} {{- if
$booksCSS }} {{- $booksCSS := $booksCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $booksCSS.RelPermalink }}" />
{{- end }} {{- end }} {{/* Custom CSS for about page */}} {{- $isAbout := and .File
(or (eq .File.TranslationBaseName "about") (eq .RelPermalink "/about/")) }} {{- if
$isAbout }} {{- $aboutCSS := resources.Get "css/custom/about.css" }} {{- if $aboutCSS }} {{- $aboutCSS := $aboutCSS |
resources.Minify | resources.Fingerprint "sha256" }}
<link rel="stylesheet" href="{{ $aboutCSS.RelPermalink }}" integrity="{{ $aboutCSS.Data.Integrity }}" />
{{- end }} {{- end }}
